 /*importing*/


/* main stiling */


@font-face { 
       font-family: cantarell;
        src: url(fonts/Cantarell/Cantarell-Regular.ttf);
} 

@font-face {
       font-family: fira-code;
       src: url(fonts/firacode/FiraCode-Regular.ttf);
}

body { font-family: cantarell ; font-size: 20;
}

head { font-family: cantarell ; font-size: 20;
}

h1 {
       color: orange; padding-left: 30px;
}
h2 {
       color: orange; padding-left: 30px;
}
article {
       padding-left: 50px; padding-right: 50px; padding-bottom: 20px;
       background: rgb(255, 166, 0); border-radius: 25px;
       
}

section {
       border: 2px solid black;
       border-radius: 27px ;
       margin-bottom: 20px;
}


#button {
       border: 1px solid rgb(206, 110, 0); background-color: darkorange; padding: 10px;  border-radius: 25px;  
}

img {
       padding: 10;
}

#error {
       padding-left: 500px; font-size: 3cm; 
}


code {
       font-family: fira-code ;
       border: 1px solid rgb(206, 110, 0);
      background-color: rgb(255, 136, 0);
      padding: 3px;
}

#line {
       border-bottom: 3px solid black;
}
